.content-static{
    font-family: 'Rubik';
    padding-top: 50px;

    h1{
        text-decoration: underline;
        color: #0b3e27;
    }

    h2{
        font-size: x-large;
        margin-bottom: 15px;
    }

    p{
        margin-bottom: 30px;
    }
}