<div class="container text-dark text-left content-static">
    <h1>Terms and Conditions</h1>
    <p>Welcome to Dogshouse! These Terms and Conditions outline the rules and regulations for the use of our website,
        located at www.dogshouse.com.</p>

    <h2>1. Acceptance of Terms</h2>
    <p>By accessing or using our website, you agree to comply with and be bound by these Terms and Conditions. If you do
        not
        agree with these terms, please do not use our website.</p>

    <h2>2. Changes to Terms</h2>
    <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be posted on this page,
        and
        your continued use of the site constitutes acceptance of those changes.</p>

    <h2>3. Intellectual Property</h2>
    <p>All content and materials on this website are the property of Dogshouse and are protected by intellectual
        property
        laws. You may not use, reproduce, or distribute any content without our prior written consent.</p>

    <h2>4. User Conduct</h2>
    <p>You agree to use our website for lawful purposes only. You must not engage in any activity that interferes with
        or
        disrupts our website.</p>

    <h2>5. Limitation of Liability</h2>
    <p>Dogshouse is not liable for any direct, indirect, incidental, or consequential damages arising from the use or
        inability to use our website.</p>

    <h2>6. Governing Law</h2>
    <p>These Terms and Conditions are governed by and construed in accordance with the laws of Maharastra, India. Any
        disputes arising under these terms will be subject to the exclusive jurisdiction of the courts located in Pune.</p>

    <h2>7. Contact Us</h2>
    <p>If you have any questions about these Terms and Conditions, please contact us at support@dogshouse.com.</p>
</div>