.tabs-container-footer{
    color: #000;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif !important;
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
}

.footer-img{
    height: 10vh;
}

.footer{
    position: initial;
    border-top: solid 1px black;
}