<!--  End Modal -->
<footer class="footer" data-background-color="black">
    <div class=" container ">
        <!-- <nav>
            <ul>
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li>
                    <a href="">
                        Category
                    </a>
                </li>
                <li>
                    <a href="">
                        Tracking
                    </a>
                </li>
                <li>
                    <a href="">
                        COD
                    </a>
                </li>
                <li>
                    <a href="">
                        Personalisation
                    </a>
                </li>
            </ul>
        </nav> -->
        <div class="copyright" id="copyright">
            {{today}}
            Designed by
            <a href="" target="_blank">PropsCoder-Raj</a>
        </div>
    </div>
</footer>