<app-navbar></app-navbar>

<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/BG-Home.jpg');">
    </div>
    <div class="container">
      <div class="content-center brand">
        <h1>TM</h1>
        <h1 class="h1-seo">Get Right Now</h1>
        <h3>Fitness Unleashed: Tailored for Your Dog's Health.</h3>
      </div>
      <h6 class="category category-absolute">Revolutionizing Fitness for Your Four-Legged Friend.</h6>
    </div>
  </div>
  
  <app-footer></app-footer>
</div>
<!-- End Navbar -->