.bg-primary-transparent{
    background-color: rgba(0, 0, 0, 0.3); /* Optional: Add a slight white overlay */
    backdrop-filter: blur(10px); /* Adjust the blur intensity */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */

    .navbar-transparent{
        backdrop-filter: unset !important;
        -webkit-backdrop-filter: unset !important;
    }
}

@media screen and (max-width: 991px) {
    .navbar-collapse{
        height: 100vh !important;
    }
}

marquee{
    background: #fff;
    color: #000;
    font-size: medium;
    font-weight: 700;
    font-family: 'Rubik' !important;
    padding: 2px;
    margin-bottom: -7px;
}

.mobile-navbar-btn{
    font-size: x-large;
    background: transparent;
    // width: 2rem !important;
    padding: 0 !important;
    // min-width: 1rem !important;
}

.mix-top-navbar{
    background: linear-gradient(240deg, #0b3e27, #197149) !important;padding: 5px !important;
}

.mix-navbar-navlink{
    text-transform: unset !important;
    font-size: small !important;
}

.mix-sm-navlink-logo{
    position: absolute;
    bottom: 10%;
    left: 50%;
    height: 10rem;
}