<!-- Navbar -->
<div class="fixed-top">
  <marquee class="rubik-bold">{{tagLine}}</marquee>
  <nav class="navbar navbar-expand-lg navbar-transparent" style="background: #000 !important;" color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" rel="tooltip">
          <img src="assets/img/logo.png" alt="" height="50">
        </a>
        <div class="show-on-small-only hide-on-med-and-up" >
          <button class="btn btn-primary btn-icon btn-round mobile-navbar-btn" type="button">
            <i class="now-ui-icons users_circle-08"></i>
          </button>
          <button class="btn btn-primary btn-icon btn-round mobile-navbar-btn" type="button">
            <i class="now-ui-icons shopping_cart-simple"></i>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation"
        data-nav-image="./assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">
              <p>Category</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <p>Tracking</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <p>COD</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <p>Personalisation</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <p>Create Account</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-placement="bottom">
              <i class="fas fa-shopping-cart mr-3" style="font-size: medium;"></i>
              <p class="d-lg-none d-xl-none">Shopping Cart</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>