
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tread-mill-primary: mat.define-palette(mat.$indigo-palette);
$tread-mill-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tread-mill-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tread-mill-theme: mat.define-light-theme((
  color: (
    primary: $tread-mill-primary,
    accent: $tread-mill-accent,
    warn: $tread-mill-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tread-mill-theme);

body{
    font-family: "Rubik" !important;
}

@media only screen and (max-width: 600px) {
    .hide-on-small-only,
    .hide-on-small-and-down {
        display: none !important
    }
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none !important
    }
}

@media only screen and (min-width: 601px) {
    .hide-on-med-and-up {
        display: none !important
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
        display: none !important
    }
}

@media only screen and (min-width: 993px) {
    .hide-on-large-only {
        display: none !important
    }
}

@media only screen and (min-width: 1201px) {
    .hide-on-extra-large-only {
        display: none !important
    }
}

@media only screen and (min-width: 1201px) {
    .show-on-extra-large {
        display: block !important
    }
}

@media only screen and (min-width: 993px) {
    .show-on-large {
        display: block !important
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
        display: block !important
    }
}

@media only screen and (max-width: 600px) {
    .show-on-small {
        display: block !important
    }
}

@media only screen and (min-width: 601px) {
    .show-on-medium-and-up {
        display: block !important
    }
}

@media only screen and (max-width: 992px) {
    .show-on-medium-and-down {
        display: block !important
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
