<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/BG-Home.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <div class="dashboard-logo"><img src="/assets/img/DogsHouseLOgo.jpeg" /></div>
                <h1 class="h1-seo text-black">Get Right Now</h1>
                <!-- <h3 class="h1-subtitle text-black">Fitness Unleashed: Tailored for Your Dog's Health.</h3> -->
            </div>
            <h6 class="category category-absolute">Revolutionizing Fitness for Your Four-Legged Friend.</h6>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="reelsContainer">
            <div class="reel" *ngFor="let video of videos">
                <video muted [id]="video.id" preload="auto" [muted]="'muted'" autoplay loop>
                    <source [src]="video.src" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <div class="card trx-card">
                    <div class="trx-subtest animate__animated animate__fadeInUp">{{video.name}}</div>
                    <div class="trx-subtitle mb-4 animate__animated animate__fadeInUp">{{video.subtitle}}</div>
                    <button class="btn shopnow-btn float-end animate__animated animate__fadeInUp" type="button">Shop Now <i class="now-ui-icons shopping_bag-16 ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>