.h1-seo {
    font-size: 5rem !important;
    color: #fff;
    font-weight: bold;
}

.h1-subtitle {
    font-size: 1rem !important;
    color: #fff;
    font-weight: bold;
}

.reelsContainer {
    // height: 80vh;
    width: 100%;
    display: flex;
    overflow: auto;
    gap: 0.1em;
    flex-direction: column;
    // scroll-snap-type: y mandatory;
    // margin-top: 7vh !important;
}

.reelsContainer::-webkit-scrollbar {
    display: none;
}

.reel {
    min-height: 86vh;
    width: 100%;
    // background-color: red;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

.reel video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;

    filter: contrast(1.5) saturate(1);

}

.reel .trx-card {
    background: rgba($color: #000000, $alpha: 0.5) !important;

    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: unset;
    padding: 0.2rem 0.3rem;
}

.reel .active-card .trx-subtest {
    position: absolute;
    bottom: 17%;
    left: 0%;
    font-size: xx-large;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.reel .trx-subtest {
    font-size: xx-large;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.reel .active-card .trx-subtitle {
    font-size: smaller;
    color: #fff;
    font-family: system-ui;
}


.reel .active-card .shopnow-btn {
    background: linear-gradient(to right, #a25de3, #ce78e8) !important;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: -5%;
    font-size: large;
    padding: 7px;
    padding-left: 35px;
    font-weight: bold;
    i {
        font-size: x-small !important;
    }
}

.dashboard-logo img {
    height: 100px;
    border-radius: 50px;
}

.card-image video {
    height: 500px;
    width: 100%;
    border-radius: 14px !important;
}

.mix-graph1 {
    position: absolute;
    top: 70%;
    left: -10%;
}

.mix-graph2 {
    position: absolute;
    top: 180%;
    right: -10%;
}

.cursor-no-drop{
    cursor: no-drop;
}

.blogs-1 {
    font-family: 'Poppins', sans-serif;

    .shopnow-btn {
        box-shadow: unset !important;
        background: linear-gradient(to right, #a25de3, #ce78e8) !important;
        color: #fff;
        border-radius: 7px;
        margin: unset;

        i {
            font-size: x-small !important;
        }
    }


    .card-description {
        color: #000;
    }

    .card-plain {
        position: relative;
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery img {
    width: 100%;
    max-width: 150px;
    /* Set the maximum width for each image */
    height: auto;
    /* Maintain the aspect ratio */
    object-fit: cover;
    /* Crop the image to fit the container */
    margin: 10px;
    /* Space between images */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .image-gallery img {
        max-width: 150px;
        /* Adjust the maximum width for smaller screens */
    }
}

@media (max-width: 480px) {
    .image-gallery img {
        max-width: 100px;
        /* Adjust the maximum width for very small screens */
    }
}

.ribbon-2 {
    position: absolute;
    background: #fff;
}